<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{error}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comic Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header id="error">
        <h5>{{error}}</h5>
        <img src="{{ url_for('static', filename='img/404.png')}}" />
        <a class="navegacion_enlace navegacion_enlace--activo" href="{{url_for('inicio')}}">Regresar a la tienda</a>
    </header>
</body>

</html>